/* CSS compatibility layer for Prism.js 1.30.0 */
/* Map old class names to new ones */
.prism-language-csharp { color: inherit; }
.prism-language-aspnet { color: inherit; }
.prism-language-javascript { color: inherit; }
.prism-language-python { color: inherit; }
.prism-language-json { color: inherit; }
.prism-language-yaml { color: inherit; }
.prism-language-markdown { color: inherit; }
.prism-language-css { color: inherit; }
.prism-language-html { color: inherit; }
.prism-language-xml { color: inherit; }

/* Add any other language classes you use */
.prism-language-sql { color: inherit; }
.prism-language-bash { color: inherit; }
.prism-language-powershell { color: inherit; }
.prism-language-typescript { color: inherit; }
.prism-language-cobol { color: inherit; }
.prism-language-asm6502 { color: inherit; }
.prism-language-awk { color: inherit; }
.prism-language-bash { color: inherit; }
.prism-language-basic { color: inherit; }
.prism-language-c { color: inherit; }
.prism-language-cpp { color: inherit; }
.prism-language-cmake { color: inherit; }
.prism-language-coffeescript { color: inherit; }
.prism-language-crystal { color: inherit; }
.prism-language-dart { color: inherit; }
.prism-language-diff { color: inherit; }
.prism-language-docker { color: inherit; }
.prism-language-erlang { color: inherit; }
.prism-language-fsharp { color: inherit; }
.prism-language-fortran { color: inherit; }
.prism-language-go { color: inherit; }
.prism-language-gradle { color: inherit; }
.prism-language-groovy { color: inherit; }
.prism-language-haskell { color: inherit; }
.prism-language-http { color: inherit; }
.prism-language-ini { color: inherit; }
.prism-language-java { color: inherit; }
.prism-language-julia { color: inherit; }
.prism-language-kotlin { color: inherit; }
.prism-language-latex { color: inherit; }
.prism-language-lisp { color: inherit; }
.prism-language-lua { color: inherit; }
.prism-language-makefile { color: inherit; }
.prism-language-mongodb { color: inherit; }
.prism-language-objectivec { color: inherit; }
.prism-language-ocaml { color: inherit; }
.prism-language-opencl { color: inherit; }
.prism-language-pascal { color: inherit; }
.prism-language-perl { color: inherit; }
.prism-language-php { color: inherit; }
.prism-language-plsql { color: inherit; }
.prism-language-prolog { color: inherit; }
.prism-language-python { color: inherit; }
.prism-language-r { color: inherit; }
.prism-language-ruby { color: inherit; }
.prism-language-rust { color: inherit; }
.prism-language-sass { color: inherit; }
.prism-language-scss { color: inherit; }
.prism-language-scala { color: inherit; }
.prism-language-shell-session { color: inherit; }
.prism-language-sql { color: inherit; }
.prism-language-swift { color: inherit; }
.prism-language-tcl { color: inherit; }
.prism-language-typescript { color: inherit; }
.prism-language-vbnet { color: inherit; }
.prism-language-vim { color: inherit; }
.prism-language-visual-basic { color: inherit; }
.prism-language-wasm { color: inherit; }
.prism-language-wgsl { color: inherit; }
.prism-language-wiki { color: inherit; }
.prism-language-xquery { color: inherit; }
