<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
  
    <div class="wrapper">
  
      <div class="footer-col-wrapper">
        <div class="footer-col one-half">
            <div><a data-flickr-embed="true" href="https://www.flickr.com/photos/135765356@N07/49029765168/in/dateposted-public/" title="profile-1"><img class="custom-profile-image" src="https://live.staticflickr.com/65535/49029765168_c6aef255b3_n.jpg" width="248" height="320" alt="profile-1"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script></div>
          <ul class="contact-list">
            
                <li class="custom-footer-author-name">
                    {%- if site.author -%}
                        {{ site.author | escape }}
                    {%- endif -%}
                </li>
                <li class="custom-footer-job-title">
                    Web Developer | Software Engineer
                </li>
                <li>
                    <div class="social-links">
                            {%- include social.html -%}
                    </div>
                </li>
          </ul>
        </div>
        
  
        <div class="">
          <p>{{- site.description | escape -}}</p> 
        </div>
  
        
      </div>
  
    </div>
  
  </footer>