ul.social-media-list li {
    float: left;
}

.gmail-icon {
    width: 25px;
    height: 25x;
    display: inline-block;
    fill: currentColor;
    padding: 5px 3px 2px 5px;
    vertical-align: text-bottom;
}