ul.social-media-list li {
    float: left;
}

.custom-gmail-icon {
    width: 25px;
    height: 25x;
    display: inline-block;
    fill: currentColor;
    padding: 5px 3px 2px 5px;
    vertical-align: text-bottom;
}

.custom-footer-author-name {
    font-size: 100%;
}

.custom-footer-job-title {
    font-size: 95%;
    color: #2a7ae2;
}

.custom-profile-image {
    border-radius: 50%;
    width: 150px;
    height: 145px;
    //-webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    //filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

.custom-site-description {
    padding-left: 12px;
}